/target/
/*/target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
#account-service/src/test/
#auth-service/src/
#config/src/test/
#gateway/src/test/
#monitor/src/test/
#order-service/src/test/
#registry/src/test/
#zipkin/src/test/
